<div class="content-box">
  <div class="container">
    <div class="row center-layout">
      <div class="col-md-6 left-side">
        <h1>Contact Us</h1>
        <div class="form-feilds">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Full Name" />
          </div>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Your Email" />
          </div>
          <div class="form-group">
            <div class="select-outer">
              <select class="form-control">
                <option>Subject Access Request</option>
                <option>Subject Access Request</option>
                <option>Subject Access Request</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <textarea class="form-control" placeholder="Message"></textarea>
          </div>
          <div class="form-group submit-btn">
            <button class="btn btn-block themeBtn">Submit</button>
          </div>
        </div>
      </div>
      <div class="col-md-6 order-md-6 right-side">
        <app-login-rightside></app-login-rightside>
      </div>
    </div>
  </div>
</div>
