@import 'style/base';
.notification-page{
  .box{
    padding:1.5em 15px;
    margin-top: 0.5em;
    border-bottom:1px solid #D8D8D8;
    p{
      font-weight: 500;
      margin-bottom: 0.4em;
      a{
        color: $black;
      }
    }
    h3{
      @include text-format-weight(1em,rgba($black,0.5),500);
      margin: 0;
    }
    &:last-child{
      border:0 none;
    }
  }
}
