<div class="gen-profile-page profile-page">
    <div class="row">
      <div class="col-12 text-center">
        <div class="editimg-outer">
          <div class="image">
            <img alt="image" class="img-fluid" src="assets/images/profile.jpg">
          </div>
          <!-- <div class="upload-icon">
            <span class="icon-camera"></span>
            <input type="file">
          </div> -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="d-flex box">
        <div class="col-4">
          <h3>First Name</h3>
          <p>Albert</p>
        </div>
        <div class="col-4">
          <h3>Last Name</h3>
          <p>Albert</p>
        </div>
      </div>
      <div class="col-12">
        <div class="box">
          <h3>Address</h3>
          <p>299 Michelle Motorway</p>
        </div>
      </div>
      <div class="col-12">
        <div class="box">
          <h3>Country</h3>
          <p>Swizerland</p>
        </div>
      </div>
      <div class="col-12">
        <div class="box">
          <h3>State</h3>
          <p>Zurich</p>
        </div>
      </div>
      <div class="col-12">
        <div class="box">
          <h3>City</h3>
          <p>Zurich</p>
        </div>
      </div>
      <div class="col-12">
        <div class="box">
          <h3>Postcode</h3>
          <p>1340003</p>
        </div>
      </div>
      <div class="col-12">
        <div class="box">
          <h3>Contact</h3>
          <p>9991818564</p>
        </div>
      </div>
      <div class="col-12">
        <div class="box  no-border">
          <h3>Skype</h3>
          <p>Skype9991</p>
        </div>
      </div>
    </div>
  </div>
