<div class="form-group text-right submit-btn">
  <button type="submit" class="btn addbtn min-width-150 mb-2" routerLink="/"><i class="icon-plus"></i> Add Card</button>
</div>
<div class="card-box"  *ngFor ="let cards of [1,2,3]">
  <h2>Card  1</h2>
  <div class="d-flex justify-content-between align-items-center box-inner">
    <div class="card-no">
        <img alt="image" class="img-fluid" src="assets/images/visa-card.png">
        1234 4567  8976
    </div>
    <div class="btns">
      <button class="btn"><i class="icon-edit"></i></button>
      <button class="btn"><i class="icon-delete "><i class="path1"><i class="path2"><i class="path3"></i></i></i>
      </i></button>
    </div>
  </div>
</div>
