<app-banner>Favourite Projects</app-banner>
<div class="admin-main  grey-layout" >
  <div class="common-page fav-proj-page">
    <div class="row toprow">
      <div class="col-12">
        <h2>Interest Showed Projects By You</h2>
      </div>
    </div>
    <div class="box" *ngFor="let list of [1,2,3]">
      <div class="row align-items-start justify-content-between box-inner">
        <div class="col-lg-8 col-xl">
          <h2 class="project-no"><span>Project 1</span>  Posted an 6 hour ago</h2>
          <h3>Looking android developer</h3>
          <p>Description : Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua….. </p>
          <ul class="skill-list">
            <li>Custom Designer</li>
            <li>Custom Stack Developer</li>
            <li>Hybrid Developer</li>
          </ul>
        </div>
        <div class="col-lg-4 col-xl-auto right_sec">
          <h2>Price</h2>
          <h3>$10/per hour</h3>
          <button class="btn themeBtn min-width-140">View Project</button>
        </div>
      </div>
    </div>
  </div>
</div>
