$black:#000;
$white:#fff;
$orange:#F96E10;
$sky:#5ECDF0;
$darksky:#468EE7;
$color-39:#393939;
$navy: #324CAE;
$green:#14A626;



$family: 'Raleway', sans-serif;
$moonfamily:'icomoon' !important;
$image-path		  : "assets/images" !default;
$bg-image-path		  : "../../../assets/images" !default;
$font-path        : "./assets/fonts" !default;
$iconFontPath  : "./assets/fonts/fonts" !default;
