<div class="form-feilds">
  <div class="row">
    <div class="col-12 text-center">
      <div class="editimg-outer">
        <div class="image">
          <img alt="image" class="img-fluid" src="assets/images/profile.jpg">
        </div>
        <div class="upload-icon">
          <span class="icon-camera"></span>
          <input type="file">
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <textarea class="form-control" placeholder="About Myself"></textarea>
  </div>
  <div class="form-group">
    <div class="select-outer">
        <select class="form-control">
          <option>Select an hourly rate for your profile</option>
          <option>Select an hourly rate for your profile</option>
          <option>Select an hourly rate for your profile</option>
        </select>
    </div>
  </div>
  <div class="form-group">
    <div class="select-outer">
        <select class="form-control">
          <option>Available for (Hours a Week)</option>
          <option>Available for (Hours a Week)</option>
          <option>Available for (Hours a Week)</option>
        </select>
    </div>
  </div>
  <div class="row row-10">
    <div class="col-sm-6 form-group">
      <input type="text" class="form-control" placeholder="First Name">
    </div>
    <div class="col-sm-6 form-group">
      <input type="text" class="form-control" placeholder="Last Name">
    </div>
  </div>
  <div class="form-group">
    <textarea class="form-control" placeholder="Address"></textarea>
  </div>
  <div class="form-group">
    <div class="select-outer">
      <select class="form-control">
        <option>Country</option>
        <option>Country</option>
        <option>Country</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <div class="select-outer">
        <select class="form-control">
          <option>State/Provience</option>
          <option>State/Provience</option>
          <option>State/Provience</option>
        </select>
    </div>
  </div>
  <div class="form-group">
    <div class="select-outer">
      <select class="form-control">
        <option>City</option>
        <option>City</option>
        <option>City</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Postcode">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Contact">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Skype">
  </div>
  <div class="form-group text-center submit-btn">
    <button type="submit" class="btn themeBtn min-width-150" routerLink="/details/project">Save & Next</button>
  </div>
</div>
