.detailpages{
  .form-feilds{
    padding: 3em 4em;
    @media screen and (max-width:767px){
      padding: 2em 0em;
    }
  }
  .submit-btn{
    margin-top: 3em;
    .btn{
      margin: 0 5px;
      @media screen and (max-width:479px){
        margin: 2px 0px;
      }
    }
  }
}
