@import 'style/base';
.mp-tb{
  padding:4.8em 0;
  @media screen and (max-width:992px){
    padding: 3em 0;
  }
  @media screen and (max-width:767px){
    padding:2em 0;
  }
}
.title{
  margin-bottom: 4.5em;
  @media screen and (max-width:992px){
    margin-bottom: 3em;
  }
  h2{
    @include text-format-weight(2.5em,$black,900);
    @media screen and (max-width:767px){
      font-size: 1.5em;
    }
    span{
      color: $orange;
    }
  }
  p{
    @include text-format-weight(1.2em,#9f9f9f,500);
    line-height: 27px;
    @media screen and (max-width:1200px){
      font-size: 14px;
    }
    @media screen and (max-width:767px){
      font-size: 1em;
      line-height: 20px;
    }
  }
}
.homebanner{
  background: {
    image: url("#{$bg-image-path}/banner-bg.png");
    position: bottom center;
    repeat: no-repeat;
    size: cover;
  };
  height:100vh;
  @include pos(r, null);
  @media screen and (max-width:767px){
    height: auto;
    padding:50px 0;
  }
  .tab-img{
    @include pos(a,120px 0 null null);
    max-width: 50%;
    @media screen and (max-width:992px){
      display: none;
    }
  }
  .left-sec{
    @include pos(r, null);
    z-index: 1;
    h1{
      @include text-format-weight(3em,$white,900);
      @media screen and (max-width:992px){
        font-size:2em;
      }
    }
    p{
      @include text-format-weight(1.5em,$white,500);
      margin-top:1em;
      @media screen and (max-width:992px){
        font-size:1em;
      }
    }
    .banner-search{
      background-color: $white;
      @include radius(4px);
      margin-top:3em;
      overflow: hidden;
      padding: 5px;
      .form-group{
        margin: 0;
        @media screen and (max-width:575px){
          margin-bottom:15px;
        }
        .select-outer{
          height:100%;
          width: 175px;
          @media screen and (max-width:575px){
            width: 100%;
          }
          &::after {
            top: calc(50% - 20px);
            font-size: 0.95em;
            color: #000;
            font-weight: bold;
            @media screen and (max-width:575px){
              top: calc(50% - 10px);
            }
          }
          .form-control{
            height: calc(100% - 20px);
            padding:0 30px 0 15px;
            margin: 10px 0;
            border-right:1px solid rgba($black,0.4);
            @media screen and (max-width:575px){
              padding: 10px 10px;
              margin: 0;
            }
          }
        }
        .search-input{
          flex:2;
        }
        .form-control{
          height:100%;
          @include radius(0px);
          border:0 none;
          @media screen and (max-width:575px){
            padding: 10px 15px;
            border:1px solid rgba($black,0.4);
          }
        }
      }
      .btn{
        width:75px;
        i{
          font-size: 1.7em;
          margin: 0;
        }
      }
    }
  }
}
.how-work-sec{
  .box-outer{
    padding:3.5em 0;
    @include box-shadow(0px 0px 12px rgba(0,0,0,0.1));
    @media screen and (max-width:767px){
      padding:2em 0 0 0;
    }
    .title{
      margin-bottom: 3em;
    }
    .box{
      .box-inner{
        padding: 0 4em;
        border-right:1px solid rgba($black,0.1);
        @media screen and (max-width:767px){
          border-right:0 none;
          border-bottom:1px solid rgba($black,0.1);
          margin-bottom:40px;
        }
        &:last-child{
          border:0 none;
        }
        h3{
          @include text-format-weight(1.5em,$black,500);
          margin:0;
        }
        img{
          margin:3em 0;
          @media screen and (max-width:767px){
            margin:2em 0;
          }
        }
        p{
          @include text-format-weight(1em,#9f9f9f,500);
        }
      }
    }
  }
}
.skills-sec{
//   .box1{width:200px; height: 200px; position: relative; background-color: #eee; margin: 10px; border: 2px solid red;}
// .box1:after, .box1:before{content: ""; position: absolute; background-color: inherit;;}
// .box1:after{top:-2px; bottom: -2px; left: 20px; right: 20px;}
// .box1:before{left:-2px; right: -2px; top: 20px; bottom: 20px;}
  .box{
    min-height: 180px;
    @include pos(r, null);
    background-color: $white;
    border: 2px solid rgba($black,0.2);
    &:after,&:before{
      content: "";
      background-color: inherit;
    }
    &:after{
      @include pos(a, -2px 20px -2px 20px);
    }
    &:before{
      @include pos(a, 20px -2px 20px -2px);
    }
    &:hover{
      background-color: #f4f7ff;
      .box-inner{
        &:after{
          content:'';
          border-color:#5f94ff;
        }
       h2{
          color: $black;
        }
      }
    }
    &:nth-child(2){
      &:hover{
        background-color: #fdf0c8;
        .box-inner{
          &:after{
            border-color:#ffd041;
          }
        }
      }
    }
    &:nth-child(3){
      &:hover{
        background-color: #ffbdc6;
        .box-inner{
          &:after{
            border-color:#ff4b64;
          }
        }
      }
    }
    &:nth-child(4){
      &:hover{
        background-color: #ececec;
        .box-inner{
          &:after{
            border-color:#676660;
          }
        }
      }
    }
    .box-inner{
      height:100%;
      @include pos(r, null);
      z-index: 1;
      &:after{
        @include pos(a, null null -20px -17px);
        height:20px;
        width:calc(100% + 34px);
        border:2px solid red;
        border-bottom:0 none;
      }
      h2{
        @include text-format-weight(1em,#c9c6bf,600);
        text-transform: uppercase;
        margin-top:1.3em;
      }
    }
  }
}
.testimonial-sec{
  .box{
    padding:1em 1.5em;
    margin-bottom:1.8em;
    border:1px solid rgba($black,0.2);
    @include pos(r, null);
    &:after, &:before{
      content: '';
      @include pos(a, null null -9px 15px);
      border-right: 8px solid transparent;
      border-left: 8px solid transparent;
      border-top: 9px solid $white;
    }
    &:before{
      border-top: 9px solid rgba($black,0.9);
    }
    &:hover{
      @include translateY(-30px);
      @include box-shadow(0px 0px 15px rgba(0,0,0,0.3));
      @include animate(0.5s,linear);
      border-color: $white;
      &:before{
        border-top-color:$white;
      }
    }
    p{
      @include text-format-weight(1.2em,rgba($black,0.4),500);
      line-height: 35px;
      @media screen and (max-width:767px){
        font-size: 1em;
        line-height: 24px;
       }
    }
    h2{
      @include text-format-weight(1.2em,#d90647,600);
    }
  }
  .info{
    .image{
      @include height-width(62px,62px);
      @include radius(50%);
      float: left;
      margin-right: 1em;
      overflow: hidden;
      @media screen and (max-width:992px){
        @include height-width(50px,50px);
      }
      img{
        @include imgfit(100%,cover,100%);
      }
    }
    h3{
      padding-top:5px;
      @include text-format-weight(1.2em,rgba($black,0.7),600);
      @media screen and (max-width:767px){
        padding-top:0px;
      }
    }
    h4{
      @include text-format-weight(1em,rgba($black,0.3),600);
    }
  }
}
.signup-sec{
  background-color: $orange;
  padding:5.4em 0;
  @media screen and (max-width:767px){
    padding:3em 0;
  }
  h2{
    @include text-format-weight(2.5em,$white,600);
    margin-bottom: 1em;
    @media screen and (max-width:767px){
     font-size: 1.5em;
    }
  }
  button{
    min-width: 220px;
    background-color: $white;
    @include text-format-weight(1em,$black,600);
    text-transform: uppercase;
    @include radius(30px);
    border:1px solid $white;
    padding: 0.8em 0.5em;
    cursor: pointer;
    &:hover{
      background-color: transparent;
      color: $white;
    }
  }
}
