<div class="homebanner">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-7 left-sec">
        <h1>Where your software projects come true</h1>
        <p>
          We help businesses build the software they need by matching them to
          skilled professionals
        </p>
        <form class="banner-search d-sm-flex">
          <div class="form-group">
            <div class="select-outer">
              <select class="form-control">
                <option>Developer</option>
                <option>Developer</option>
                <option>Developer</option>
              </select>
            </div>
          </div>
          <div class="form-group  flex-fill  search-input">
            <input
              type="text"
              placeholder="Search for developers...."
              class="form-control"
            />
          </div>
          <button type="submit" class="btn themeBtn">
            <i class="icon-right-arrow"></i>
          </button>
        </form>
      </div>
    </div>
    <div class="tab-img">
      <img src="assets/images/ipad_img.png" alt="" class="img-fluid" />
    </div>
  </div>
</div>
<div id="howitworks" class="how-work-sec text-center mp-tb">
  <div class="container">
    <div class="title">
      <h2>Our Mission: <span>democratizing software industry</span></h2>
      <p>
        DevGap helps businesses to develop software at a lower cost and
        developers to gain real world experience
      </p>
    </div>
    <div class="row box-outer">
      <div class="col-12 title"><h2>How it works</h2></div>
      <div class="row box">
        <div class="col-md-6 box-inner">
          <h3>Business</h3>
          <img src="assets/images/business-icon.png" class="img-fluid" alt="" />
          <p>
            If you own a small business, you can signup and submit your software
            projects for free. DevGap will help you by suggesting software
            projects templates and reviewing your requirements; your project
            will be then matched to developer profiles, based on their skills.
            DevGap will assist you until the the project is ready to start and
            even help you with fees and contract negotiations!
          </p>
        </div>
        <div class="col-md-6 box-inner">
          <h3>Developer</h3>
          <img
            src="assets/images/developer-icon.png"
            class="img-fluid"
            alt=""
          />
          <p>
            If you are a software developer, you can sign up for free and update
            your profile with your coding skills; DevGap will match your profile
            to existing and new projects, based on your skills and your weekly
            availability. DevGap will assist you for free until the project
            starts and even help you with fees and contract negotiations!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center mp-tb skills-sec">
  <div class="container">
    <div class="title">
      <h2>Looking for skilled <span>developers?</span></h2>
      <p>
        DevGap is the best place to find the right developer for your project
      </p>
    </div>
    <div class="row">
      <!-- <div class="box1"></div> -->
      <div class="col-sm-6 col-md-3 box">
        <div class="box-inner d-flex align-items-center justify-content-center">
          <div class="">
            <img
              src="assets/images/android-icon.png"
              class="img-fluid"
              alt=""
            />
            <h2>Android</h2>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 box box2">
        <div class="box-inner d-flex align-items-center justify-content-center">
          <div class="">
            <img src="assets/images/ios-icon.png" class="img-fluid" alt="" />
            <h2>IOS</h2>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 box">
        <div class="box-inner d-flex align-items-center justify-content-center">
          <div class="">
            <img src="assets/images/web-icon.png" class="img-fluid" alt="" />
            <h2>web</h2>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 box">
        <div class="box-inner d-flex align-items-center justify-content-center">
          <div class="">
            <img
              src="assets/images/plateform-icon.png"
              class="img-fluid"
              alt=""
            />
            <h2>CROSS PLATFORM</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="testimonial" class="testimonial-sec text-center mp-tb">
  <div class="container">
    <div class="title">
      <h2>What people <span>say</span></h2>
      <p>
        Our mission is to democratize software usage to all companies that can't
        afford it ...
      </p>
    </div>
    <div class="row text-left">
      <div class="col-md-4">
        <div class="box">
          <p>
            <i
              >Lorem ipsum dolor sit amet, onsectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.</i
            >
          </p>
          <h2>Booking.com</h2>
        </div>
        <div class="info">
          <div class="image">
            <img src="assets/images/profile.jpg" class="img-fluid" alt="" />
          </div>
          <h3>John Doe</h3>
          <h4>CEO</h4>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box">
          <p>
            <i
              >Lorem ipsum dolor sit amet, onsectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.</i
            >
          </p>
          <h2>Booking.com</h2>
        </div>
        <div class="info">
          <div class="image">
            <img src="assets/images/profile.jpg" class="img-fluid" alt="" />
          </div>
          <h3>John Doe</h3>
          <h4>CEO</h4>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box">
          <p>
            <i
              >Lorem ipsum dolor sit amet, onsectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.</i
            >
          </p>
          <h2>Booking.com</h2>
        </div>
        <div class="info">
          <div class="image">
            <img src="assets/images/profile.jpg" class="img-fluid" alt="" />
          </div>
          <h3>John Doe</h3>
          <h4>CEO</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="signup-sec text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h2>Sign up for free and complete your next software project!</h2>
        <button  routerLink="/sign-in">login/Signup</button>
      </div>
    </div>
  </div>
</div>
