<app-banner>Rating and Review</app-banner>
<div class="admin-main">
<div class="common-page rating-page">
    <div class="box">
        <div class="row align-items-center justify-content-between box-inner">
          <div class="col-md-8 col-xl">
            <div class="d-flex align-items-center">
              <div  class="user-img">
                <img alt="image" class="img-fluid" src="assets/images/profile.jpg">
              </div>
              <div class="">
                <h3>John Smith</h3>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-xl-auto right_sec">
            <img alt="image" class="img-fluid" src="assets/images/rating-star.jpg">
          </div>
        </div>
      </div>
  <div class="form-group">
    <label>Write a feedback</label>
    <textarea class="form-control"></textarea>
  </div>
  <div class="form-group submit-btn">
    <button class="btn themeBtn min-width-140" routerLink="/">Done</button>
  </div>
</div>
</div>
