<app-banner>Account Settings</app-banner>
<div class="admin-main">
    <div class="profile-pages col-xl-6 offset-xl-3">
      <div class="d-xl-flex justify-content-between">
        <ul class="admin_tablink">
          <li><a  routerLink="/card-detail" routerLinkActive="active">CARD DETAILS</a></li>
          <li><a  routerLink="/change-password" routerLinkActive="active">CHANGE PASSWORD</a></li>
        </ul>
      </div>
      <div class="pro-content-outer">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

