<div class="banner">
  <div class="d-flex align-items-center justify-content-between">
    <div class="left_side">
      <div class="imgPhoto">
        <div class="uploadedimg">
            <img src="assets/images/profile.jpg" alt="image" class="img-fluid">
        </div>
        <!-- <div class="cameraupload">
            <input type="file">
            <span class="icon-camera"></span>
        </div> -->
      </div>
      <h2>Welcome back, Stefano!</h2>
    </div>
    <div class="right_side">
      <h1><ng-content></ng-content></h1>
    </div>
  </div>
</div>
