<div class="content-box detailpages">
  <div class="container">
    <div class="offset-lg-2 col-lg-8">
      <ul class="admin_tablink">
        <li><a  routerLink="/details/general" routerLinkActive="active">GENERAL DETAILS</a></li>
        <li><a  routerLink="/details/project" routerLinkActive="active">PROJECT DETAILS</a></li>
        <li><a  routerLink="/details/card" routerLinkActive="active">CARD DETAILS</a></li>
      </ul>
      <div class="">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
