<div class="content-box detailpages">
  <div class="container">
    <div class="offset-lg-2 col-lg-8">
      <ul class="admin_tablink">
        <li><a  routerLink="/create/gen-detail" routerLinkActive="active">GENERAL DETAILS</a></li>
        <li><a  routerLink="/create/edu-detail" routerLinkActive="active">EDUCATION DETAILS</a></li>
        <li><a  routerLink="/create/card-detail" routerLinkActive="active">CARD DETAILS</a></li>
      </ul>
      <div class="">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
