@import 'style/base';
.paymentHis-page{
  .form-group{
    text-align: right;
    margin-bottom: 3em;
    label{
      color: rgba($black,0.5);
    }
    .select-outer{
      width: auto;
      display: inline-block;
      margin-left: 10px;
      select{
        &.form-control{
          padding: 0.5em 2em 0.5em 1em;
          @include radius(4px);
          color: $sky;
        }
      }
    }
  }
}
