<div class="row flex-column h-100">
  <carousel>
    <slide>
      <h3>Fast and Reliable</h3>
      <p>Lorem ipsum dolmet, consectetur adipiscing elit. Nulla quam velit,</p>
    </slide>
    <slide>
      <h3>Fast and Reliable1</h3>
      <p>Lorem ipsum dolmet, consectetur adipiscing elit. Nulla quam velit,</p>
    </slide>
    <slide>
      <h3>Fast and Reliable2</h3>
      <p>Lorem ipsum dolmet, consectetur adipiscing elit. Nulla quam velit,</p>
    </slide>
  </carousel>
  <h3 class="mt-auto">Welcome to the<span>DevGap</span></h3>
</div>

