<app-banner>Developers in Matching</app-banner>
<div class="admin-main grey-layout">
<div class="common-page developer-match">
  <div class="row align-items-center toprow">
    <div class="col-sm-6">
      <h2>Matched Developers</h2>
    </div>
    <div class="col-sm-6 text-sm-right">
        <div class="form-group radio-outer">
          <label class="z_checked">
              <input type="checkbox" name="checkboxInline">
              <span>Show only perfect match</span>
          </label>
        </div>
    </div>
  </div>
  <app-match></app-match>
</div>
</div>
