<app-banner>My Profile</app-banner>


<div class="admin-main">
    <div class="profile-pages">
      <div class="d-xl-flex justify-content-between">
        <ul class="admin_tablink">
          <li><a  routerLink="/profile/general" routerLinkActive="active">GENERAL DETAILS</a></li>
          <li><a  routerLink="/profile/education" routerLinkActive="active">EDUCATION DETAILS</a></li>
        </ul>

      </div>
      <div class="pro-content-outer">


<div class="gen-profile-page profile-page">
    <div class="top-btn text-right">
        <button class="btn themeBtn min-width-150 topedit-btn">Edit</button>
      </div>
  <div class="row">
    <div class="col-12 text-center">
      <div class="editimg-outer">
        <div class="image">
          <img alt="image" class="img-fluid" src="assets/images/profile.jpg">
        </div>
        <div class="upload-icon">
          <span class="icon-camera"></span>
          <input type="file">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="box">
        <h3>About Myself</h3>
        <p>Veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in repreenderitgb  vyolptate ved lit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, aperiam, eaque iae abd illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
           Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odnitd  aut fugit, sed quia consequuntur.</p>
      </div>
    </div>
    <div class="col-12">
      <div class="box">
        <h3>Profile Hourly Rate</h3>
        <p>$60 Per Hour</p>
      </div>
    </div>
    <div class="col-12">
      <div class="box">
        <h3>Available for (Hours a Week)</h3>
        <p>All Days</p>
      </div>
    </div>
    <div class="d-flex box">
      <div class="col-4">
        <h3>First Name</h3>
        <p>Albert</p>
      </div>
      <div class="col-4">
        <h3>Last Name</h3>
        <p>Albert</p>
      </div>
    </div>
    <div class="col-12">
      <div class="box">
        <h3>Address</h3>
        <p>299 Michelle Motorway</p>
      </div>
    </div>
    <div class="col-12">
      <div class="box">
        <h3>Country</h3>
        <p>Swizerland</p>
      </div>
    </div>
    <div class="col-12">
      <div class="box">
        <h3>State</h3>
        <p>Zurich</p>
      </div>
    </div>
    <div class="col-12">
      <div class="box">
        <h3>City</h3>
        <p>Zurich</p>
      </div>
    </div>
    <div class="col-12">
      <div class="box">
        <h3>Postcode</h3>
        <p>1340003</p>
      </div>
    </div>
    <div class="col-12">
      <div class="box">
        <h3>Contact</h3>
        <p>9991818564</p>
      </div>
    </div>
    <div class="col-12">
      <div class="box  no-border">
        <h3>Skype</h3>
        <p>Skype9991</p>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
