<div class="create-edu-detail">
  <div class="form-feilds">
    <h2>Educational Details <i class="float-right icon-plus"></i></h2>
    <div class="box">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Select Education">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Name of college/university">
      </div>
      <div class="row row-10">
        <div class="col-sm-6 form-group">
          <input type="text" class="form-control" placeholder="From">
        </div>
        <div class="col-sm-6 form-group">
          <input type="text" class="form-control" placeholder="To">
        </div>
      </div>
    </div>
    <h2>Professional Details  <i class="float-right icon-plus"></i></h2>
    <div class="box">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Company Name">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Designation">
      </div>
      <div class="row row-10">
        <div class="col-sm-6 form-group">
          <input type="text" class="form-control" placeholder="From">
        </div>
        <div class="col-sm-6 form-group">
          <input type="text" class="form-control" placeholder="To">
        </div>
      </div>
    </div>
    <h2>Certifications (if any)</h2>
    <div class="box">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="What kind of certifications you hold?">
      </div>
      <div class="form-group">
        <div class="btn themeBtn sky min-width-150 uploadbtn">Upload <input type="file"></div>
      </div>
      <div class="d-flex">
        <div class="uploaded-doc">
          <button class="btn icon-cancel"></button>
          <div class="img-out">
            <img src="assets/images/doc.jpg" alt="" class="img-fluid">
          </div>
        </div>
        <div class="uploaded-doc">
          <button class="btn icon-cancel"></button>
          <div class="img-out">
            <img src="assets/images/doc.jpg" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
    <h2>Add Projects (if any)</h2>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Project Title">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Project Description">
    </div>
    <div class="form-group text-center submit-btn">
      <button type="submit" class="btn themeBtn sky min-width-150" routerLink="/">Skip</button>
      <button type="submit" class="btn themeBtn min-width-150" routerLink="/">Save & Next</button>
    </div>
  </div>
</div>
