
<div class="col-12 box d-md-flex" *ngFor="let list of [1,2,3]">
    <div class="user-img">
      <img alt="image" class="img-fluid" src="assets/images/profile.jpg">
    </div>
    <div class="rating-info">
      <div class="row justify-content-between align-items-start">
        <div class="col-6">
          <h3>Shawn Rodgers</h3>
          <h4>6 Days Ago</h4>
        </div>
        <div class="col-6 text-md-right">
          <img alt="image" class="img-fluid" src="assets/images/rating.jpg">
        </div>
      </div>
      <p>Chris is a good person, but there is one problem… Mmm… He often in the office.
        I feel frustrated every day from it. His English is not so good as everyone expected. Maybe h
        e should visit some language courses? Also, his knowledge of Selenium is weak.</p>
    </div>
  </div>

