<app-banner>Post a Project</app-banner>
<div class="admin-main">
  <div class="post-job-page">
    <div class="row">
      <div class="col-12 top-row text-center">
        <h2>Select the platform</h2>
      </div>
      <div class="col-12 right-btn">
        <button class="btn themeBtn min-width-140" routerLink="/post-project-next">Next</button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 text-center">
        <div class="card">
          <div class="card-body h-100 justify-content-center text-center  d-flex align-items-center">
            <div class="">
              <div class="card-icon"><i class="icon-android"></i></div>
              <h2 class="card-title">Android</h2>
              <p class="card-text">An Android Phone/Tablet App (Excluding back-end)</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 text-center">
        <div class="card">
          <div class="card-body h-100 justify-content-center text-center  d-flex align-items-center">
            <div class="">
              <div class="card-icon"><i class="icon-apple"></i></div>
              <h2 class="card-title">iOS</h2>
              <p class="card-text">An iPhone/iPad App (Excluding back-end)</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 text-center">
        <div class="card">
          <div class="card-body h-100 justify-content-center text-center  d-flex align-items-center">
            <div class="">
              <div class="card-icon"><i class="icon-color"></i></div>
              <h2 class="card-title">Web</h2>
              <p class="card-text">A Web app or a  back end to mobile app</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4  text-center offset-lg-4">
          <div class="card">
          <div class="card-body h-100 justify-content-center text-center  d-flex align-items-center">
            <div class="">
            <div class="card-icon"><i class="icon-phone"></i></div>
            <h2 class="card-title">Mobile</h2>
            <p class="card-text">Cross Platform</p>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
