<footer class="footer text-center">
  <div class="container">
    <p>&copy; 2018 DevGap Inc.  All rights reserved.</p>
    <ul class="foot-links">
      <li><a href="#">How It works</a></li>
      <li><a routerLink="/about-us"  routerLinkActive="active">About us</a></li>
      <li><a routerLink="/contact-us"  routerLinkActive="active">Contact us</a></li>
      <li><a routerLink="/privacy-policy"  routerLinkActive="active">Privacy Policy</a></li>
      <li><a routerLink="/terms"  routerLinkActive="active">Terms and conditions</a></li>
      <li><a routerLink="/faq"  routerLinkActive="active">FAQ</a></li>
    </ul>
    <ul class="social-links">
      <li><a href="#"><i class="icon-facebook"></i></a></li>
      <li><a href="#"><i class="icon-twitter"></i></a></li>
      <li><a href="#"><i class="icon-instagram"></i></a></li>
    </ul>
  </div>
</footer>
